/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 50px;
  background-image: url(./homepage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}


.image img {
  position: fixed ;
  top: 2px;/* Adjust as needed */
  left: 20px; /* Adjust as needed */
 width: 180px;
 }

 nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  /* White text */
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease;
  /* Smooth transition for color change */
}

nav ul li a:hover {
  color: rgb(255, 102, 0);
  /* Light gray on hover */
}


.container {
  border: 2px solid whitesmoke;
  max-width: 800px;
  margin: 50px auto;
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

h2{
  color: #fff;
}

h3{
  color: #fff;
}

.about-section,
.philosophy-section,
.team-section,
.community-section {
  margin-bottom: 40px;
  color: #ccc;
}

.about-section img {
  width: 100%;
  border-radius: 8px;
}

.about-text h2,
.philosophy-section h2,
.team-section h2,
.community-section h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.team-member {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 20px;
  margin-top: 20px;
}

.team-member img {
  width: 100%;
  border-radius: 8px;
}

.team-member-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-member-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.team-member-details p {
  color: #666;
}
