/* styles.css */


body {
  font-family: Arial, sans-serif;
  padding: 50px;
  background-image: url(./homepage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.image img {
  position: absolute;
  left: 3px;
  bottom: 33rem;
  top: px;
 width: 180px;
 }

 nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  /* White text */
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease;
  /* Smooth transition for color change */
}

nav ul li a:hover {
  color: rgb(255, 102, 0);
  /* Light gray on hover */
}


.container {
  border: 2px solid whitesmoke;
  max-width: 600px;
  margin: 50px auto;
  background-color: #000000;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
  color: #fff;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
