/* common-styles */
body {
  margin: 0px;
  background-image: url(./homepage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
 }
 
/* nav-styles */
 .navigation-wraper {
  width: 100%;
  height: 10px;
  text-decoration: none;
  max-width: 1200px;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  
}

.image img {
 position: absolute;
 left: 3px;
 bottom: .1px;
 top: 2px;
width: 200px;
}



.link-wrapper {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 1rem;
}

.links a {
text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 25px;
  font-size: large;
  color: #fff; /* White text */
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.links a:hover {
  color: rgb(255, 102, 0);
  
}


.button-container  button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease; 
  
}

button:hover {
  background-color: #a35223;
}

.button-container button a {
  text-decoration: none;
  color: #fff;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  position: absolute;
  top: 20rem;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}


button {
  width: 180px;
  padding: 15px ;
  border-radius: 25px;
  background: transparent;
  color: white;
  border: 2px solid rgb(255, 255, 255);
 }

 .hamburger {
  display: none;
  margin-left: 2rem;
  padding: .5rem 1rem;
  border-radius: 1rem;

}



.checkbox {
  display: none;
  position: absolute;
  top: 3rem;
  right: 15.23rem;
  width: 40px;
  height: 40px;
  opacity: 0;

}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
 

}



.linkss a {
  font-weight: 1000px;
  font-style: normal;
  color: white;
  font-weight: bold;
}

.linkss button {
  padding: 10px 20px;
  border-radius: 20px;
  /* background-color: var(--color-2); */
  box-shadow: 2px 4px 5px var(--color-2);
  color: beige;
}

.get-started {
  display: none;
}
 @media(max-width:575px) {
  header {
      position: relative;
  }

.image img {
  width: 150px;
 
}

  .links {
    display: none;
    
  }

.link-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
display: none;
}

.get-started {
  display: block;
  position: absolute;
  right: 7rem;
}
.get-started button {
  width: 8rem;
}


.get-started a {
  text-decoration: none;
  
}

}